*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

/* .admin_image{
    width: 100px;
    object-fit: contain;
} */

.cart_img{
    width: 50px;
    height: 50px;
}

.card {
    border: 2px solid black;
}

